# 이름: 신소희
# 학번: 2021710232
# 학과: 인공지능융합학과

\### 주의사항: your {command, answer, code} here 지우고 작성할 것.

##### Q1. (UNIX) 디렉토리 내에 있는 파일들의 목록을 내림차순으로 출력하는 명령어를 적으세요. ( ! 기호 후 명령어 입력. Windows 명령어도 인정함. )

In [ ]:
!dir/A

/bin/bash: dir/A: No such file or directory

##### Q2. (UNIX) UNIX에서는 모든 것이 \_\_이것\_\_이다. 이것에 들어갈 말을 영어로 적으세요.

In [ ]:
# File

##### Q3. 다음 리스트에서 짝수만 남기면서, 892 이후의 수는 출력되지 않는 리스트를 만드세요.

In [ ]:
numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]

numbers = [i for i in numbers if (i % 2 == 0) & (i < 892)]
numbers

[386,
 462,
 418,
 344,
 236,
 566,
 328,
 162,
 758,
 412,
 566,
 826,
 248,
 866,
 626,
 104,
 58,
 512,
 24,
 742]

##### Q4. 다음 2개의 변수 a, b의 값을 한 줄로 바꾸는 코드를 완성하세요.

In [ ]:
young_man = "신하균"
old_man = "변희봉"

young_man, old_man = old_man, young_man
print(young_man, old_man)

변희봉 신하균

##### Q5. 한국어의 목적격 조사 '을'과 '를'은 앞에 나오는 단어의 받침에 따라 결정된다. 예를 들어, "나는 오늘 수업을 들었다."에서 "수업" 뒤에 붙는 목적격 조사 "을"은 앞 음절에 받침이 있기 때문에 "을"을 사용한 것이다. 만일, 앞 음절에 받침이 없었다면 "를"을 사용했을 것이다. 입력으로 넣은 단어의 목적격 조사로 '을'과 '를' 중 어떤 것이 적절할 지 판단하는 함수를 작성하세요.

In [ ]:
# 참고
# 초성 리스트. 00 ~ 18
CHOSUNG_LIST = ['ㄱ', 'ㄲ', 'ㄴ', 'ㄷ', 'ㄸ', 'ㄹ', 'ㅁ', 'ㅂ', 'ㅃ', 'ㅅ', 'ㅆ', 'ㅇ', 'ㅈ', 'ㅉ', 'ㅊ', 'ㅋ', 'ㅌ', 'ㅍ', 'ㅎ']
# 중성 리스트. 00 ~ 20
JUNGSUNG_LIST = ['ㅏ', 'ㅐ', 'ㅑ', 'ㅒ', 'ㅓ', 'ㅔ', 'ㅕ', 'ㅖ', 'ㅗ', 'ㅘ', 'ㅙ', 'ㅚ', 'ㅛ', 'ㅜ', 'ㅝ', 'ㅞ', 'ㅟ', 'ㅠ', 'ㅡ', 'ㅢ', 'ㅣ']
# 종성 리스트. 00 ~ 27 + 1(1개 없음)
JONGSUNG_LIST = [' ', 'ㄱ', 'ㄲ', 'ㄳ', 'ㄴ', 'ㄵ', 'ㄶ', 'ㄷ', 'ㄹ', 'ㄺ', 'ㄻ', 'ㄼ', 'ㄽ', 'ㄾ', 'ㄿ', 'ㅀ', 'ㅁ', 'ㅂ', 'ㅄ', 'ㅅ', 'ㅆ', 'ㅇ', 'ㅈ', 'ㅊ', 'ㅋ', 'ㅌ', 'ㅍ', 'ㅎ']

In [ ]:
! pip install jamo
from jamo import h2j, j2hcj

Collecting jamo
  Downloading jamo-0.4.1-py3-none-any.whl (9.5 kB)
Installing collected packages: jamo
Successfully installed jamo-0.4.1

In [ ]:
def decide_position(word):
  if j2hcj(h2j(word))[-1] in JONGSUNG_LIST:
    x = word + '을'
  else:
    x = word + '를'
    return print(x)

decide_position("여수 밤바다") # 실행 결과 "여수 밤바다를"이 출력되어야 함.

여수 밤바다를

##### Q6. 다음 문자열을 역순으로 출력하는 한 줄짜리 코드를 작성하세요.

In [ ]:
sentence = "로꾸꺼 로꾸꺼 로꾸꺼 말해말"
sentence = list(sentence)
sentence.reverse()
sentence2 = ''.join(sentence)
sentence2

'말해말 꺼꾸로 꺼꾸로 꺼꾸로'

##### Q7. 주어진 dictionary가 모두 같은 값을 갖고 있는지 확인하는 함수를 작성하세요.

In [ ]:
def check_homogeneity(dictionary):
    return len(pd.Series(dictionary.values()).unique()) == 1
print(check_homogeneity({"정조":"왕", "단종":"왕", "광해군":"왕"})) # return True
print(check_homogeneity({"걸스데이":4, "씨스타":4, "블랭핑크":4, "소녀시대":9})) # return False

True
False

##### Q8. 다음 두 리스트 s1, s2를 Pandas의 Series로 만들고 두 Series를 더해보세요.

In [ ]:
import pandas as pd
s1 = [2, 4, 6, 8, 10]
s2 = [1, 3, 5, 7, 9]

s1 = pd.Series(s1)
s2 = pd.Series(s2)

s1 + s2

0     3
1     7
2    11
3    15
4    19
dtype: int64

##### Q9. 다음 DataFrame 에서, name(이름)과 turnout(득표율)만 선택(selection)하는 코드를 작성하세요.

In [ ]:
import pandas as pd
import numpy as np
president_data  = {'name': ['이승만', '윤보선', '박정희', '최규하', '전두환', '노태우',
                       '김영삼', '김대중', '노무현', '이명박', '박근혜', '문재인'],
        'turnout': [91.8, 79.1, 46.6, 96.3, 99.4, 36.6,
                    42, 40.3, 48.9, 48.7, 51.6,41.1],
        'jail': ['no', 'no', 'no', 'no', 'yes', 'yes',
                'no', 'no', 'no','yes','yes',np.nan]}
labels = ['가', '나', '다', '라', '마', '바', '사', '아', '자', '차','카','타']
presidents = pd.DataFrame(president_data, index=labels )

presidents[['name', 'turnout']]

  name  turnout
가  이승만     91.8
나  윤보선     79.1
다  박정희     46.6
라  최규하     96.3
마  전두환     99.4
바  노태우     36.6
사  김영삼     42.0
아  김대중     40.3
자  노무현     48.9
차  이명박     48.7
카  박근혜     51.6
타  문재인     41.1

##### Q10. Q9 에서 만든 DataFrame에 각 대통령의 재임 기간을 조사하여 'period'라는 column을 만들고, 'period'의 내림차순으로 DataFrame을 정렬하세요.

In [ ]:
presidents['period'] = [12,2,16,1,8,5,5,5,5,5,4,5]
presidents.sort_values(by = 'period', ascending = False)

  name  turnout jail  period
다  박정희     46.6   no      16
가  이승만     91.8   no      12
마  전두환     99.4  yes       8
바  노태우     36.6  yes       5
사  김영삼     42.0   no       5
아  김대중     40.3   no       5
자  노무현     48.9   no       5
차  이명박     48.7  yes       5
타  문재인     41.1  NaN       5
카  박근혜     51.6  yes       4
나  윤보선     79.1   no       2
라  최규하     96.3   no       1