In [ ]:
# 손에 잡히는 10분 정규표현식 책 추천

In [1]:
import re # regular expression

In [3]:
txt = '''상(上)이 삭전(朔奠)001) 을 지내고 상식(上食)002) 을 올렸다.'''

In [6]:
txt

'상(上)이 삭전(朔奠)001) 을 지내고 상식(上食)002) 을 올렸다.'

In [4]:
pattern = re.compile("\(.*?\)") 
# match, search, findall 할 수 있음!
# \ 가 붙은건 메타문자가 아니라는 걸 나타내는 것. 메타문자를 탈출하는 거 
# ? 의미는 non-greedy 이게 없다면 전체가 ()가 나올 것임

In [5]:
pattern

re.compile(r'\(.*?\)', re.UNICODE)

In [10]:
pattern.match(txt) # 맨 처음 글자랑 매치가 된건지?

In [11]:
pattern.match(txt,1) # 위치값을 알아야만 parsing이 되어 많이 쓰이진 않음

In [12]:
pattern.search(txt)

In [13]:
pattern.findall(txt) # 보통 findall을 가장 많이 씀

['(上)', '(朔奠)', '(上食)']

In [15]:
pattern.finditer(txt) # 뽑아져 나오는 거 계속 돌돌이로 말려있는 상태

In [17]:
[i for i in pattern.finditer(txt)]

[<re.Match object; span=(1, 4), match='(上)'>,
 <re.Match object; span=(8, 12), match='(朔奠)'>,
 <re.Match object; span=(25, 29), match='(上食)'>]

In [14]:
for t in pattern.finditer(txt):
    print(t)

<re.Match object; span=(1, 4), match='(上)'>
<re.Match object; span=(8, 12), match='(朔奠)'>
<re.Match object; span=(25, 29), match='(上食)'>

In [22]:
pattern.sub('',txt) #패턴이 들어간걸  ''로 대체

'상이 삭전001) 을 지내고 상식002) 을 올렸다.'

In [23]:
pattern.sub('**한문**', txt)

'상**한문**이 삭전**한문**001) 을 지내고 상식**한문**002) 을 올렸다.'

In [24]:
re.findall('.*', 'ete') #.* 아무문자나 있으면 뽑아라! 0번 있어도 뽑아라.

['ete', '']

In [25]:
re.findall('.+', 'ete') #.+ 여기서는 맨 앞에 비어있는게 안나옴!

['ete']

### [ ] 문자 집합 이용하기.

In [26]:
txt = '''상(上)이 삭전(朔奠)001) 을 지내고 상식(上食)002) 을 올렸다.'''
pattern = re.compile("[0-9]{3}\) ")
pattern.sub('**숫자**', txt)

'상(上)이 삭전(朔奠)**숫자**을 지내고 상식(上食)**숫자**을 올렸다.'

In [28]:
txt = '''상(上)이 삭전(朔奠)001) 을 지내고 상식(上食)002) 을 올렸다.'''
pattern = re.compile("[0-9]{3,}\) ")
pattern.sub('**숫자**', txt)

'상(上)이 삭전(朔奠)**숫자**을 지내고 상식(上食)**숫자**을 올렸다.'

In [27]:
txt = '''상(上)이 삭전(朔奠)001) 을 지내고 상식(上食)002) 을 올렸다.'''
pattern = re.compile("[0-9][0-9][0-9]\) ")
pattern.sub('**숫자**', txt)

'상(上)이 삭전(朔奠)**숫자**을 지내고 상식(上食)**숫자**을 올렸다.'

In [29]:
txt = '''상(上)이 삭전(朔奠)001) 을 지내고 상식(上食)002) 을 올렸다.'''
pattern = re.compile("[0-9]+\) ")
pattern.sub('**숫자**', txt)

'상(上)이 삭전(朔奠)**숫자**을 지내고 상식(上食)**숫자**을 올렸다.'

In [30]:
txt = '''상(上)이 삭전(朔奠)001) 을 지내고 상식(上食)002) 을 올렸다.'''
pattern = re.compile("[0-9]*\) ")
pattern.sub('**숫자**', txt)

'상(上)이 삭전(朔奠)**숫자**을 지내고 상식(上食)**숫자**을 올렸다.'

### . : 모든 문자

In [31]:
koryeo_kings = '충렬왕, 충선왕, 충숙왕, 충혜왕, 충목왕, 충정왕, 공민왕'
pattern = re.compile("충.왕")
pattern.findall(koryeo_kings)

['충렬왕', '충선왕', '충숙왕', '충혜왕', '충목왕', '충정왕']

In [32]:
koryeo_kings = '충렬왕, 충선왕, 충숙왕, 충혜왕, 충목왕, 충정왕, 공민왕, 충선숙왕'
pattern = re.compile("충..왕")
pattern.findall(koryeo_kings)

['충선숙왕']

### * : 앞에 문자가 0부터 무한대로 반복 가능.

In [33]:
phrase = '성균관대학교 학생들은 아아아아아주 성실하다.'
pattern = re.compile("아*주")
pattern.search(phrase)[0]

'아아아아아주'

In [34]:
phrase = '성균관대학교 학생들은 아아아아아주 성실하다.'
pattern = re.compile("아+주")
pattern.search(phrase)[0]

'아아아아아주'

### + : 최소 1번 이상 반복되어야 함.

In [38]:
univ = 'SKKU'
pattern = re.compile("SK+U")
pattern.search(univ)[0]

'SKKU'

### {m, n} : 최소 m번, 최대 n번까지 반복(생략 가능)

In [36]:
univ = 'SKKKKKKKKKKKKKKKU'
pattern = re.compile("SK{2,3}U")
pattern.findall(univ)

[]

### ? : {0, 1}과 동일함. 있어도 되고 없어도 되고.

In [44]:
cities = '서울시 인천시 대전 안양 제주'
pattern = re.compile("[가-힣]{2}시?")
pattern.findall(cities)

['서울시', '인천시', '대전', '안양', '제주']

In [45]:
cities = '서울시 인천시 대전 안양 제주'
pattern = re.compile("[가-힣]{2}?")
pattern.findall(cities)

['서울', '인천', '대전', '안양', '제주']

In [47]:
cities = '서울시 인천시 대전전전 안양 제주'
pattern = re.compile("[가-힣]{2}?")
pattern.findall(cities)

['서울', '인천', '대전', '전전', '안양', '제주']

### | : or 와 동일한 의미

In [48]:
joseon_kings = '태조 정종 태종 세종 문종 단종 세조 예종 성종 연산군 중종 인종 명종 선조 광해군 인조 효종 현종 숙종 경종 영조 정조 순조 헌종 철종 고종 순종'
pattern = re.compile(".[종|조]") # 아무글자하나 + 종이나 조 있는 거
pattern.findall(joseon_kings)

['태조',
 '정종',
 '태종',
 '세종',
 '문종',
 '단종',
 '세조',
 '예종',
 '성종',
 '중종',
 '인종',
 '명종',
 '선조',
 '인조',
 '효종',
 '현종',
 '숙종',
 '경종',
 '영조',
 '정조',
 '순조',
 '헌종',
 '철종',
 '고종',
 '순종']

### ^: 문자열의 맨 처음과 일치함.

In [49]:
koryeo_kings = '충렬왕, 충선왕, 충숙왕, 충혜왕, 충목왕, 충정왕, 공민왕'
pattern = re.compile("^충.{2}(?=,)")
pattern.findall(koryeo_kings)

['충렬왕']

### $:  문자열의 맨 끝과 일치함

In [50]:
phrase = "우리는 모두 성균인"
pattern = re.compile("^우.*인$")
pattern.findall(phrase)

['우리는 모두 성균인']

In [55]:
phrase = "우리는 모두 성균인"
pattern = re.compile("^성.*인$")
pattern.findall(phrase)

[]

### \d : 모든 숫자와 일치

In [57]:
txt = '''상(上)이 삭전(朔奠)001) 을 지내고 상식(上食)002) 을 올렸다.'''
pattern = re.compile(r"[0-9]+\) ") # r 이 있어도 되고 없어도 되고 # 붙이는 습관으로 
pattern.sub('**숫자**', txt)

'상(上)이 삭전(朔奠)**숫자**을 지내고 상식(上食)**숫자**을 올렸다.'

In [ ]:
txt = '''상(上)이 삭전(朔奠)001) 을 지내고 상식(上食)002) 을 올렸다.'''
pattern = re.compile(r"\d+\) ") # 
pattern.sub('**숫자**', txt)

### \s : 모든 공백 문자와 동일. [ \t\n\r\f\v] 와 동일함.

In [59]:
txt = '''상(上)이 삭전(朔奠)001) 을 지내고 상식(上食)002) 을 올렸다.'''
pattern = re.compile(r"\d+\)\s")
pattern.sub('**숫자**', txt)

'상(上)이 삭전(朔奠)**숫자**을 지내고 상식(上食)**숫자**을 올렸다.'

In [61]:
txt = '''상(上)이 삭전(朔奠)001) 을 지내고 상식(上食)002) 을 올렸다.'''
pattern = re.compile(r"\d+\) ") #그냥 띄어줘도 되긴함
pattern.sub('**숫자**', txt)

'상(上)이 삭전(朔奠)**숫자**을 지내고 상식(上食)**숫자**을 올렸다.'

### \w: 모든 문자와 동일함

In [62]:
txt = '''상(上)이 삭전(朔奠)001) 을 지내고 상식(上食)002) 을 올렸다.'''
pattern = re.compile("\(\w+\)")
pattern.sub('**한자**', txt)

'상**한자**이 삭전**한자**001) 을 지내고 상식**한자**002) 을 올렸다.'

In [63]:
s = "저의 이메일 주소는 hyeshinoh@gmail.com입니다. 또한 panda706@naver.com도 가지고 있습니다."
p = "[0-9a-zA-Z]+@[0-9a-z]+\.[0-9a-z]+"          # \. : 패턴이 아니고 "."을 문자 자체로 사용
# result = True if re.search(p, s) else False
# print(result, re.findall(p, s))
re.findall(p, s)

['hyeshinoh@gmail.com', 'panda706@naver.com']

In [64]:
s = "저의 전화번호는 010-1111-2222이고 주민등록번호는 870101-1234567 입니다"
p = "[0-9]{6}\-[0-9]{7}"          # \(escaping)을 안해줘도 문제는 없음
print(re.findall(p, s))
p = "([0-9]{6})\-([0-9]{7})"      # 그룹핑
print(re.findall(p, s))
re.sub(p, "\g<1>-********", s)    # \g<1> : 그룹핑 첫번째(0부터 세지 않음. 앞의 그룹) 데이터 사용
#그룹핑은 몰라도 괜찮음 수업에서 안배웠어

['870101-1234567']
[('870101', '1234567')]

'저의 전화번호는 010-1111-2222이고 주민등록번호는 870101-******** 입니다'

### 실습과 참고자료

#### [정규표현식 연습하기](https://regexone.com/)
#### [정규표현식 온라인 테스트](https://regex101.com/)
#### [정규표현식 온라인 분석기](https://regexr.com/)